<a href="https://colab.research.google.com/github/rubyunpluggled/Globalstore/blob/main/Flight_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install streamlit

Collecting streamlit
  Downloading streamlit-1.52.0-py3-none-any.whl.metadata (9.8 kB)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.2.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (8.3.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<13,>=7.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (4.15.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.12/dist-packages (from streamlit) (3.1.45)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2025.11.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.29.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.52.0-py3-none-any.whl (9.0 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 9.0/9.0 MB 52.2 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.9/6.9 MB 71.3 MB/s eta 0:00:00
Installing collected packages: pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.52.0

In [ ]:
import streamlit as st

st.title("ğŸš€ My First Streamlit App")
st.write("Welcome! This is created using Streamlit.")

name = st.text_input("Enter your name:")
if name:
    st.success(f"Hello {name}! ğŸ‘‹")

2025-12-05 07:44:43.145 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.275
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/lib/python3.12/dist-packages/colab_kernel_launcher.py [ARGUMENTS]
2025-12-05 07:44:43.275 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.277 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.279 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.281 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.282 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.284 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.285 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.287 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.291 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.293 Session state does not function when running a script without `streamlit run`
2025-12-05 07:44:43.296 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.297 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-12-05 07:44:43.299 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
!pip install streamlit==1.34.0 pyngrok

Collecting streamlit==1.34.0
  Downloading streamlit-1.34.0-py2.py3-none-any.whl.metadata (8.5 kB)
Collecting pyngrok
  Downloading pyngrok-7.5.0-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (1.9.0)
Collecting cachetools<6,>=4.0 (from streamlit==1.34.0)
  Downloading cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (8.3.1)
Collecting numpy<2,>=1.19.3 (from streamlit==1.34.0)
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 61.0/61.0 kB 2.4 MB/s eta 0:00:00
Collecting packaging<25,>=16.8 (from streamlit==1.34.0)
  Downloading packaging-24.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: pandas<3,>=1.3.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (2.2.2)
Collecting pillow<11,>=7.1.0 (from streamlit==1.34.0)
  Downloading pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting protobuf<5,>=3.20 (from streamlit==1.34.0)
  Downloading protobuf-4.25.8-cp37-abi3-manylinux2014_x86_64.whl.metadata (541 bytes)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (2.32.4)
Requirement already satisfied: rich<14,>=10.14.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (13.9.4)
Collecting tenacity<9,>=8.1.0 (from streamlit==1.34.0)
  Downloading tenacity-8.5.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (4.15.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (6.5.1)
Requirement already satisfied: watchdog>=2.1.5 in /usr/local/lib/python3.12/dist-packages (from streamlit==1.34.0) (6.0.0)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.12/dist-packages (from pyngrok) (6.0.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from altair<6,>=4.0->streamlit==1.34.0) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.12/dist-packages (from altair<6,>=4.0->streamlit==1.34.0) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.12/dist-packages (from altair<6,>=4.0->streamlit==1.34.0) (2.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.34.0) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.3.0->streamlit==1.34.0) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.3.0->streamlit==1.34.0) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.3.0->streamlit==1.34.0) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit==1.34.0) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit==1.34.0) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit==1.34.0) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit==1.34.0) (2025.11.12)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich<14,>=10.14.0->streamlit==1.34.0) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich<14,>=10.14.0->streamlit==1.34.0) (2.19.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.34.0) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->altair<6,>=4.0->streamlit==1.34.0) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.34.0) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.34.0) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.34.0) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.34.0) (0.29.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit==1.34.0) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit==1.34.0) (1.17.0)
Downloading streamlit-1.34.0-py2.py3-none-any.whl (8.5 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8.5/8.5 MB 71.0 MB/s eta 0:00:00
Downloading pyngrok-7.5.0-py3-none-any.whl (24 kB)
Downloading cachetools-5.5.2-py3-none-any.whl (10 kB)
Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 18.0/18.0 MB 91.7 MB/s eta 0:00:00
Downloading packaging-24.2-py3-none-any.whl (65 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 65.5/65.5 kB 4.3 MB/s eta 0:00:00
Downloading pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.5 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4.5/4.5 MB 94.7 MB/s eta 0:00:00
Downloading protobuf-4.25.8-cp37-abi3-manylinux2014_x86_64.whl (294 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 294.9/294.9 kB 20.0 MB/s eta 0:00:00
Downloading tenacity-8.5.0-py3-none-any.whl (28 kB)
Installing collected packages: tenacity, pyngrok, protobuf, pillow, packaging, numpy, cachetools, streamlit
  Attempting uninstall: tenacity
    Found existing installation: tenacity 9.1.2
    Uninstalling tenacity-9.1.2:
      Successfully uninstalled tenacity-9.1.2
  Attempting uninstall: protobuf
    Found existing installation: protobuf 5.29.5
    Uninstalling protobuf-5.29.5:
      Successfully uninstalled protobuf-5.29.5
  Attempting uninstall: pillow
    Found existing installation: pillow 11.3.0
    Uninstalling pillow-11.3.0:
      Successfully uninstalled pillow-11.3.0
  Attempting uninstall: packaging
    Found existing installation: packaging 25.0
    Uninstalling packaging-25.0:
      Successfully uninstalled packaging-25.0
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
  Attempting uninstall: cachetools
    Found existing installation: cachetools 6.2.2
    Uninstalling cachetools-6.2.2:
      Successfully uninstalled cachetools-6.2.2
  Attempting uninstall: streamlit
    Found existing installation: streamlit 1.52.0
    Uninstalling streamlit-1.52.0:
      Successfully uninstalled streamlit-1.52.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
opencv-contrib-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
google-adk 1.19.0 requires tenacity<10.0.0,>=9.0.0, but you have tenacity 8.5.0 which is incompatible.
shap 0.50.0 requires numpy>=2, but you have numpy 1.26.4 which is incompatible.
jaxlib 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
opentelemetry-proto 1.37.0 requires protobuf<7.0,>=5.0, but you have protobuf 4.25.8 which is incompatible.
ydf 0.13.0 requires protobuf<7.0.0,>=5.29.1, but you have protobuf 4.25.8 which is incompatible.
pytensor 2.35.1 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
jax 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
opencv-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
grpcio-status 1.71.2 requires protobuf<6.0dev,>=5.26.1, but you have protobuf 4.25.8 which is incompatible.
opencv-python-headless 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
Successfully installed cachetools-5.5.2 numpy-1.26.4 packaging-24.2 pillow-10.4.0 protobuf-4.25.8 pyngrok-7.5.0 streamlit-1.34.0 tenacity-8.5.0

In [ ]:
from pyngrok import ngrok
ngrok.set_auth_token("YOUR_TOKEN_HERE")

In [ ]:
%%writefile app.py
import streamlit as st

st.title("Hello from Streamlit in Colab!")
st.write("This app is running through ngrok")

Writing app.py

In [ ]:
# Start Streamlit in the background
!streamlit run app.py &

# Create public URL
public_url = ngrok.connect(addr=8501)
public_url

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.12:8501
  External URL: http://34.74.206.49:8501


  A new version of Streamlit is available.

  See what's new at https://discuss.streamlit.io/c/announcements

  Enter the following command to upgrade:
  $ pip install streamlit --upgrade

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Flight  Data.csv")  # adjust if needed
df.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [ ]:
# Colab cell 1
!pip install --quiet streamlit==1.34.0 pyngrok plotly pandas

     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 61.0/61.0 kB 2.3 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8.5/8.5 MB 65.6 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 18.0/18.0 MB 95.8 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 65.5/65.5 kB 2.8 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4.5/4.5 MB 99.7 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 294.9/294.9 kB 19.0 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.9/6.9 MB 99.5 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
opencv-contrib-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
google-adk 1.19.0 requires tenacity<10.0.0,>=9.0.0, but you have tenacity 8.5.0 which is incompatible.
shap 0.50.0 requires numpy>=2, but you have numpy 1.26.4 which is incompatible.
jaxlib 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
opentelemetry-proto 1.37.0 requires protobuf<7.0,>=5.0, but you have protobuf 4.25.8 which is incompatible.
ydf 0.13.0 requires protobuf<7.0.0,>=5.29.1, but you have protobuf 4.25.8 which is incompatible.
pytensor 2.35.1 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
jax 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
opencv-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
grpcio-status 1.71.2 requires protobuf<6.0dev,>=5.26.1, but you have protobuf 4.25.8 which is incompatible.
opencv-python-headless 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.

In [ ]:
# Colab cell 2
import pandas as pd
path = "/content/drive/MyDrive/Flight Data.csv"  # change if your path is different
df = pd.read_csv("/content/drive/MyDrive/Flight  Data.csv")
df.head(10)

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954

In [ ]:
# Colab cell 3
import pandas as pd
import numpy as np

def clean_flight_df(df):
    df = df.copy()
    # Strip whitespace from string columns
    for c in df.select_dtypes(include=["object"]).columns:
        df[c] = df[c].astype(str).str.strip()

    # Standardize stops column (e.g. 'zero' -> 0, 'one' -> 1, 'non-stop' etc)
    def stops_to_int(x):
        x = str(x).lower().strip()
        map_ = {'zero':0, 'non-stop':0, 'non stop':0, 'nonstop':0, 'one':1, 'two':2, 'three':3}
        try:
            if x.isdigit():
                return int(x)
            return map_.get(x, np.nan)
        except:
            return np.nan
    if 'stops' in df.columns:
        df['stops_clean'] = df['stops'].apply(stops_to_int)
    else:
        df['stops_clean'] = np.nan

    # Price: remove non-numeric characters and convert to numeric
    if 'price' in df.columns:
        df['price'] = df['price'].astype(str).str.replace('[^0-9.]','', regex=True)
        df['price'] = pd.to_numeric(df['price'], errors='coerce')

    # Duration: try to convert to numeric hours (if format is like 2.17 which seems hours)
    if 'duration' in df.columns:
        df['duration'] = pd.to_numeric(df['duration'], errors='coerce')

    # days_left
    if 'days_left' in df.columns:
        df['days_left'] = pd.to_numeric(df['days_left'], errors='coerce').astype('Int64')

    # create route column
    if 'source_city' in df.columns and 'destination_city' in df.columns:
        df['route'] = df['source_city'].astype(str) + " â†’ " + df['destination_city'].astype(str)

    # create departure time of day categories if departure_time is one of known labels
    def normalize_dep(x):
        x = str(x).lower()
        if 'early' in x: return 'Early Morning'
        if 'morning' in x: return 'Morning'
        if 'afternoon' in x: return 'Afternoon'
        if 'evening' in x: return 'Evening'
        if 'night' in x: return 'Night'
        return x.title()
    if 'departure_time' in df.columns:
        df['departure_period'] = df['departure_time'].apply(normalize_dep)
    if 'arrival_time' in df.columns:
        df['arrival_period'] = df['arrival_time'].apply(normalize_dep)

    # drop exact duplicates
    df = df.drop_duplicates()

    return df

df_clean = clean_flight_df(df)
df_clean.info()
df_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  Int64
 11  price             300153 non-null  int64
 12  stops_clean       286867 non-null  float64
 13  route             300153 non-null  object
 14  departure_period  300153 non-null  object
 15  arrival_period    300153 non-null  object
dtypes: Int64(1), float64(2), int64(2), object(11)
memory usage: 36.9+ MB

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,stops_clean,route,departure_period,arrival_period
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,0.0,Delhi â†’ Mumbai,Evening,Night
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,0.0,Delhi â†’ Mumbai,Early Morning,Morning
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,0.0,Delhi â†’ Mumbai,Early Morning,Early Morning
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,0.0,Delhi â†’ Mumbai,Morning,Afternoon
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,0.0,Delhi â†’ Mumbai,Morning,Morning

In [ ]:
# Colab cell 4a - basic stats & missing values
print("Shape:", df_clean.shape)
display(df_clean.describe(include='all').transpose())
print("\nMissing values:")
display(df_clean.isna().sum())

Shape: (300153, 16)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
index,300153.0,NaN,NaN,NaN,150076.0,86646.852011,0.0,75038.0,150076.0,225114.0,300152.0
airline,300153,6,Vistara,127859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
flight,300153,1561,UK-706,3235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
source_city,300153,6,Delhi,61343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
departure_time,300153,6,Morning,71146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stops,300153,3,one,250863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arrival_time,300153,6,Night,91538,NaN,NaN,NaN,NaN,NaN,NaN,NaN
destination_city,300153,6,Mumbai,59097,NaN,NaN,NaN,NaN,NaN,NaN,NaN
class,300153,2,Economy,206666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,300153.0,NaN,NaN,NaN,12.221021,7.191997,0.83,6.83,11.25,16.17,49.83
days_left,300153.0,<NA>,<NA>,<NA>,26.004751,13.561004,1.0,15.0,26.0,38.0,49.0
price,300153.0,NaN,NaN,NaN,20889.660523,22697.767366,1105.0,4783.0,7425.0,42521.0,123071.0
stops_clean,286867.0,NaN,NaN,NaN,0.874492,0.331294,0.0,1.0,1.0,1.0,1.0
route,300153,30,Delhi â†’ Mumbai,15289,NaN,NaN,NaN,NaN,NaN,NaN,NaN
departure_period,300153,5,Morning,71146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arrival_period,300153,5,Night,105539,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Missing values:

index                   0
airline                 0
flight                  0
source_city             0
departure_time          0
stops                   0
arrival_time            0
destination_city        0
class                   0
duration                0
days_left               0
price                   0
stops_clean         13286
route                   0
departure_period        0
arrival_period          0
dtype: int64

In [ ]:
# Colab cell 4b - top airlines & routes
top_airlines = df_clean['airline'].value_counts().head(10)
top_routes = df_clean['route'].value_counts().head(10)
print("Top airlines:")
display(top_airlines)
print("\nTop routes:")
display(top_routes)

Top airlines:

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

Top routes:

route
Delhi â†’ Mumbai        15289
Mumbai â†’ Delhi        14809
Delhi â†’ Bangalore     14012
Bangalore â†’ Delhi     13756
Bangalore â†’ Mumbai    12939
Mumbai â†’ Bangalore    12885
Mumbai â†’ Kolkata      12602
Delhi â†’ Kolkata       11934
Kolkata â†’ Mumbai      11467
Delhi â†’ Chennai       10780
Name: count, dtype: int64

In [ ]:
# Colab cell 4c - price statistics
print("Price - basic stats")
display(df_clean['price'].describe())
print("Avg price by airline")
display(df_clean.groupby('airline')['price'].median().sort_values())

Price - basic stats

count    300153.000000
mean      20889.660523
std       22697.767366
min        1105.000000
25%        4783.000000
50%        7425.000000
75%       42521.000000
max      123071.000000
Name: price, dtype: float64

Avg price by airline

airline
AirAsia       3276.0
Indigo        4453.0
GO_FIRST      5336.0
SpiceJet      5654.0
Air_India    11520.0
Vistara      15543.0
Name: price, dtype: float64

In [ ]:
# Colab cell 4d - flights by departure period and stops
display(pd.crosstab(df_clean['departure_period'], df_clean['stops_clean']))
display(df_clean.groupby('departure_period')['price'].median().sort_values(ascending=False))

stops_clean        0.0    1.0
departure_period
Afternoon         4649  40402
Early Morning     8260  54821
Evening           9351  53390
Morning           6642  60574
Night             7102  41676

departure_period
Morning          8112.0
Night            7572.0
Evening          7425.0
Early Morning    7212.0
Afternoon        6663.0
Name: price, dtype: float64

In [ ]:
# Colab cell 4e - correlation like relationships
num_cols = ['price','duration','days_left','stops_clean']
display(df_clean[num_cols].corr())

                price  duration  days_left  stops_clean
price        1.000000  0.204222  -0.091949     0.196048
duration     0.204222  1.000000  -0.039157     0.523810
days_left   -0.091949 -0.039157   1.000000     0.002881
stops_clean  0.196048  0.523810   0.002881     1.000000

In [ ]:
# Colab cell 5
out_path = "/content/Flight_Data_cleaned.csv"
df_clean.to_csv(out_path, index=False)
print("Saved cleaned file to:", out_path)

Saved cleaned file to: /content/Flight_Data_cleaned.csv

In [ ]:
%%writefile app.py
import streamlit as st
import pandas as pd
import plotly.express as px

st.set_page_config(page_title="Flight Data Dashboard", layout="wide")

@st.cache_data
def load_data(path):
    return pd.read_csv(path)

DATA_PATH = "Flight_Data_cleaned.csv"  # ensure this file exists in the same folder

df = load_data(DATA_PATH)

# Sidebar filters
st.sidebar.header("Filters")
airlines = st.sidebar.multiselect("Airline", options=sorted(df['airline'].dropna().unique()), default=sorted(df['airline'].dropna().unique())[:5])
sources = st.sidebar.multiselect("Source City", options=sorted(df['source_city'].dropna().unique()), default=sorted(df['source_city'].dropna().unique()))
destinations = st.sidebar.multiselect("Destination City", options=sorted(df['destination_city'].dropna().unique()), default=sorted(df['destination_city'].dropna().unique()))
dep_periods = st.sidebar.multiselect("Departure Period", options=sorted(df['departure_period'].dropna().unique()), default=sorted(df['departure_period'].dropna().unique()))

# Apply filters
mask = df['airline'].isin(airlines) & df['source_city'].isin(sources) & df['destination_city'].isin(destinations) & df['departure_period'].isin(dep_periods)
df_f = df[mask].copy()

st.title("âœˆï¸ Flight Data Dashboard")
col1, col2, col3, col4 = st.columns(4)

# KPIs
with col1:
    st.metric("Total Flights", f"{len(df_f):,}")
with col2:
    st.metric("Median Price", f"â‚¹{int(df_f['price'].median() if not df_f['price'].isna().all() else 0):,}")
with col3:
    st.metric("Avg Duration (hrs)", round(float(df_f['duration'].median(skipna=True)),2) if 'duration' in df_f else "N/A")
with col4:
    st.metric("Unique Routes", f"{df_f['route'].nunique():,}")

st.markdown("---")

# Charts: flights by airline
st.subheader("Flights by Airline")
air_chart = df_f['airline'].value_counts().reset_index()
air_chart.columns = ['airline','count']
fig1 = px.bar(air_chart, x='airline', y='count', title="Flights per Airline", labels={'count':'Number of Flights'})
st.plotly_chart(fig1, use_container_width=True)

# Top routes & price distribution
colA, colB = st.columns([2,1])
with colA:
    st.subheader("Top Routes")
    top_routes = df_f['route'].value_counts().reset_index().head(20)
    top_routes.columns = ['route','count']
    fig2 = px.bar(top_routes, x='route', y='count', title="Top Routes (source â†’ dest)", labels={'count':'Number of Flights'})
    fig2.update_layout(xaxis={'categoryorder':'total descending'})
    st.plotly_chart(fig2, use_container_width=True)
with colB:
    st.subheader("Price Distribution")
    fig3 = px.histogram(df_f, x='price', nbins=40, title="Price Distribution")
    st.plotly_chart(fig3, use_container_width=True)

# Median price by airline
st.subheader("Median Price by Airline")
price_by_air = df_f.groupby('airline')['price'].median().reset_index().sort_values('price', ascending=False)
fig4 = px.bar(price_by_air, x='airline', y='price', title="Median Price by Airline", labels={'price':'Median Price'})
st.plotly_chart(fig4, use_container_width=True)

# Departure period heatmap of counts vs stops
st.subheader("Departure Period vs Stops")
if 'departure_period' in df_f.columns and 'stops_clean' in df_f.columns:
    heat = pd.crosstab(df_f['departure_period'], df_f['stops_clean'])
    fig5 = px.imshow(heat, labels=dict(x="Stops", y="Departure Period", color="Count"), text_auto=True)
    st.plotly_chart(fig5, use_container_width=True)

# Data table and download
st.subheader("Filtered Data (sample)")
st.dataframe(df_f.head(200))

@st.cache_data
def convert_df_to_csv(df):
    return df.to_csv(index=False).encode('utf-8')

csv = convert_df_to_csv(df_f)
st.download_button("Download filtered data as CSV", data=csv, file_name="filtered_flights.csv", mime="text/csv")

Writing app.py

In [ ]:
# Colab cell
!cp /content/drive/MyDrive/Flight Data.csv /content/app_folder/Flight_Data_cleaned.csv
# or simply keep it at /content and change DATA_PATH in app.py to that path

cp: target '/content/app_folder/Flight_Data_cleaned.csv' is not a directory

In [ ]:
# Colab cell - replace YOUR_NGROK_TOKEN
from pyngrok import ngrok, conf
import os
os.environ['NGROK_AUTHTOKEN'] = "36Pv02AEp9fLDHk6RvJmDYq7vCg_25VmkTp9sn7pxojL4Hvzz"
conf.get_default().auth_token = os.environ['NGROK_AUTHTOKEN']

# kill any existing tunnels
ngrok.kill()

# start streamlit
get_ipython().system_raw('streamlit run app.py --server.port 8501 --server.headless true &')

# create ngrok tunnel
public_url = ngrok.connect(addr='8501')
public_url